{% extends "../base.html" %}
{% block title %}
    Appointments List
{% endblock %}
{% block content %}
    <h1 style="margin: 20px;">My Appointments</h1>
    <p style="margin-left: 20px;">
        {% for appointment in object_list %}
            {% if user.is_authenticated %}
                {% if user == appointment.patient or user == appointment.doctor or "Administrators" in user.groups.all|join:"," %}
                    <p style="margin-left: 20px;">
                        {{ appointment.reason }}
                        <button class="btn btn-primary" type="submit">
                            <a class="nav-link active" aria-current="page" href="{% url 'appointment_details' appointment.pk %}">View</a>
                        </button>
                    </p>
                {% endif %}
            {% endif %}

        {% endfor %}
    </p>
    <p style="margin-left: 20px;">
        {% if user.is_authenticated %}
            {% if user == appointment.patient or "Administrators" in user.groups.all|join:"," %}
                <button class="btn btn-primary" type="submit">
                    <a class="nav-link active" aria-current="page" href="{% url 'appointment_create' %}">Create Appointment</a>
                </button>
            {% endif %}
        {% endif %}
    </p>
{% endblock %}
