{% extends '../base.html' %}
{% block title %}
    Create New Appointment
{% endblock %}
{% block content %}

    <h1 style="margin: 20px;">Create New Appointment</h1>
    <div style="margin-left: 20px;">
        {% if user.is_authenticated %}
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table>{{ form.as_table }}</table>
        {#        {{ form.as_p }}#}

                <button style="margin-top: 20px;" class="btn btn-primary" type="submit">Make Booking</button>
                <a style="margin-top: 20px;" class="btn btn-secondary" href="{% url 'appointments' %}">Cancel</a>
            </form>
            <script>
                const doctorField = document.getElementById("id_doctor");
                const dateField = document.getElementById("id_date");
                const timeSlotField = document.getElementById("id_time_slot");

                function loadTimeSlots() {
                    const doctor = doctorField.value;
                    const date = dateField.value;

                    timeSlotField.innerHTML = '<option value="">---------</option>';

                    if (!doctor || !date) {
                        return;
                    }

                    fetch(
                        `{% url 'available_time_slots' %}?doctor=${doctor}&date=${date}`
                    )
                    .then(response => response.json())
                    .then(data => {
                        data.time_slots.forEach(slot => {
                            const option = document.createElement("option");
                            option.value = slot.id;
                            option.textContent = slot.label;
                            timeSlotField.appendChild(option);
                        });
                    });
                }

                doctorField.addEventListener("change", loadTimeSlots);
                dateField.addEventListener("change", loadTimeSlots);
            </script>
        {% else %}
            <p>You are not logged in
                <a href="{% url 'home' %}">Login</a>
            </p>
        {% endif %}
    </div>
{% endblock %}

