{% extends '../base.html' %}
{% block title %}
   Delete Doctor
{% endblock %}
{% block content %}
    <h1>Delete Doctor</h1>
        {% if user.is_authenticated  %}
            {% if user == object.user or "Administrators" in user.groups.all|join:"," %}
                <p>Are you sure you want to delete this Doctor?</p>
                <p>This will also remove all appointments and timeslots associated with this Doctor.</p>
                <form method="post">
                    {% csrf_token %}
                    <h2>{{ post.title }}</h2>
                    <button class="btn btn-danger" type="submit">Delete</button>
                    {% if user == object.user %}
                        <a class="btn btn-secondary" href="{% url 'home' %}">Cancel</a>
                    {% endif %}
                    {% if "Administrators" in user.groups.all|join:"," %}
                        <a class="btn btn-secondary" href="{% url 'doctors' %}">Cancel</a>
                    {% endif %}
                </form>
            {% endif %}
        {% endif %}
{% endblock %}